{{/* gotype: github.com/samlet/petrel/alfin.ModelEntity */}}

// Edges of the {{.Name}}.
{{- range $r := $.Relations }}
//  {{ $r.Type }}: {{ $r.Name }}
{{- end }}
func ({{.Name}}) Edges() []ent.Edge {
    return []ent.Edge{
        {{- range $r := $.Edges }}
            {{- if $r.SelfRelation }}
                edge.To("children", {{$r.RelEntityName}}.Type).
                    From("parent").
                    // Bind the "{{$r.FieldName}}" field to this edge.
                    // Field("{{$r.FieldName|snakecase}}").
                    Unique().Annotations(entproto.Field({{$r.FieldNumber}})),
            {{- else }}
                {{- if eq $r.Type "many" }}
                    // m2o
                    edge.To("{{$r.PluralName}}", {{$r.RelEntityName}}.Type).
                        Annotations(entproto.Field({{$r.FieldNumber}})),
                {{- else if eq $r.BackrefType "one" }}
                    // o2o
                    edge.To("{{$r.Name|snakecase}}", {{$r.RelEntityName}}.Type).
                        // Bind the "{{$r.FieldName}}" field to this edge.
                        // Field("{{$r.FieldName|snakecase}}").
                        Unique().Annotations(entproto.Field({{$r.FieldNumber}})),
                {{- else if eq $r.BackrefType "one-nofk" }}
                    // o2o (nofk)
                    edge.From("{{$r.Name|snakecase}}", {{$r.RelEntityName}}.Type).
                        Ref("{{$r.Backref}}").
                        // Bind the "{{$r.FieldName}}" field to this edge.
                        // Field("{{$r.FieldName|snakecase}}").
                        Unique().Annotations(entproto.Field({{$r.FieldNumber}})),
                {{- else }}
                    // o2m
                    edge.From("{{$r.Name|snakecase}}", {{$r.RelEntityName}}.Type).
                        {{- if ne $r.Backref "" }}Ref("{{$r.Backref}}").{{- end }}
                        // Bind the "{{$r.FieldName}}" field to this edge.
                        // Field("{{$r.FieldName|snakecase}}").
                        Unique().Annotations(entproto.Field({{$r.FieldNumber}})),
                {{- end}}
            {{- end}}
        {{- end }}
    }
}
