{{/* gotype: github.com/samlet/petrel/alfin.ModelEntity */}}

type {{.Name}} struct {
{{- range $fld := $.Fields }}
    {{ $fld.Name|title }} {{ $fld.GoRefFieldType }} `json:"{{$fld.Name}},omitempty" xml:"{{$fld.Name}},attr"`
{{- end}}
}

